.movie__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.movie__item{
  padding: 15px;
  border: 5px black solid;
  border-radius: 10px;
}
.movie__modal{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.movie__remove{
  display: none;
}